# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
 importFrom("stats", "cor", "cov", "ecdf", "pexp", "pgamma", "pnorm",
             "qnorm", "qweibull", "rbinom", "rcauchy", "rexp", "runif",
             "shapiro.test", "var")
  importFrom("utils", "combn")
  importFrom("fitdistrplus", "mledist")